In [41]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import scipy 
import warnings
warnings.filterwarnings("ignore")
path = '/Users/shikharbajpai/Downloads/commonlit-evaluate-student-summaries/'

In [42]:
## reading files 

def read_all_files(path):
    train=pd.read_csv(path+'summaries_train.csv')
    test=pd.read_csv(path+'summaries_test.csv')
    prompt_train=pd.read_csv(path+'prompts_train.csv')
    prompt_test=pd.read_csv(path+'prompts_test.csv')
    return train,test,prompt_train,prompt_test

In [43]:
train,test,prompt_train, prompt_test=read_all_files(path)

In [44]:
## EDA ishita
train.head()
#prompt_train.head()

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757

In [45]:
#Merging the train and prompt
merged_Traindata = pd.merge(train,prompt_train)
#merged_Traindata.info()
merged_Traindata.head()

,student_id,prompt_id,text,content,wording,prompt_question,prompt_title,prompt_text
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
1,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
2,0095993991fe,814d6b,The third wave only started as an experiment w...,0.205683,0.380538,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,00c20c6ddd23,814d6b,The experimen was orginally about how even whe...,0.567975,0.969062,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
4,00d40ad10dc9,814d6b,The third wave developed so quickly due to the...,-0.910596,-0.081769,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...

In [40]:
## Eda

## From this what I understand is that train has student_id with the answer, content and wording scores

## Prompt has question , title , answer. 

## comparing the student answer with the actual answer gives the accurate answer

# EDA

Descriptive

In [51]:
for i in train.columns:
    print ("Total unique  in column {} are {}".format(i,train[i].nunique()))

Total unique  in column student_id are 7165
Total unique  in column prompt_id are 4
Total unique  in column text are 7165
Total unique  in column content are 1134
Total unique  in column wording are 1134